.dis_result {
  background-color: #f2f2f2;
  padding: 1rem;
  width: 85%;
  border: 1px solid #562f72; }
  .result__title {
    color: #562f72;
    font-weight: bold; }
  .result__preview {
    color: #562f72; }
  .result__link {
    color: #ba8ff7;
    font-weight: bold; }

.result + .result {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-top: none; }
